services:
  db:
    container_name: postgresql
    image: postgres:18
    restart: always
    environment:
      - POSTGRES_USER=ahmet123
      - POSTGRES_PASSWORD=postgresafm
      - POSTGRES_DB=mydb
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
